<html>
    <head>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    </head>
    <body>
        <div id="app">
            {{ api.name }}
            <div v-if="final">{{ res_data }}</div>
            <div v-else>
                <form v-on:submit.prevent="onSubmit">
                    <div v-for="parameter in api.parameters">
                        {{ parameter.name }}:<input v-bind:name="parameter.name" v-bind:type="parameter.type" />
                    </div>
                    <input type="submit" value="Wyslij" />
                </form>
            </div>
        </div>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    api: '',
                    final: false,
                    res_data: '',
                },
                created() {
                    axios.get(`http://localhost:3000/api`)
                    .then(response => {
                        console.log(response.data);
                        this.api= response.data;
                    })
                    .catch(e => {
                        console.log(e);
                    })
                },
                methods: {
                    onSubmit: function() {

                        var form = {};
                        this.api.parameters.forEach( function(parameter) {
                        form[parameter.name] = document.getElementsByName(parameter.name)[0].value;
                        })
                        console.log(form);

                        axios.post(this.api.url, form)
                        .then(response => {
                            console.log(response.data);
                            this.res_data= response.data.response;
                            this.final = true;
                        })
                        .catch(e => {
                            console.log(e);
                        })
                    }
                }
            })
        </script>
    </body>
</html>